/* BASIC STYLINGS
============================================================================= */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700);

body {
    font-family:"museo-sans", sans-serif;
    color:#424242;
    overflow-x: hidden;
    padding-bottom: 20px;
    background-color: #424242;
}

pre { 
    margin-bottom:20px; 
}

/* form styling */
#form-container { 
/*    background:#2f2f2f; 
    border-radius:5px; */
}

#form-container .page-header { 
    position:relative;
    z-index:999;
    background:#ffffff; 
    margin:0; 
    padding:15px; 
    border-top-left-radius:5px; 
    border-top-right-radius:5px; 
    -moz-box-shadow:0 4px 2px -2px #CB9A84;
    -webkit-box-shadow: 0 4px 2px -2px #CB9A84;
    box-shadow:0 4px 2px -2px #CB9A84;
}

/* numbered buttons */
#status-buttons {  

}

#status-buttons a { 
    /*color:#FFF;*/
    display:inline-block; 
    font-size:8pt; 
    /*margin-right:10px; */
    text-align:center; 
    text-transform:uppercase; 
    color: #222222;
}

#status-buttons a:hover {
    text-decoration:none;
}

#status-buttons span { 
    /*background:#080808; */
    background: url(assets/deselected_cookie.png) no-repeat;
    background-size: 30px;
    display:block; 
    height:30px; 
    margin:0 auto 10px; 
    padding-top:5px; 
    width:30px; 
/*    border-radius:50%;*/ 
}

/* active buttons */
#status-buttons a.active span { 
    /*background:#00BC8C; */
    background: url(assets/selected_cookie.png) no-repeat;
    background-size: 30px
}

.alert {
    position: fixed;
    top: 21px;
    right: 20px;
    z-index: 9999;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

/*.killed {
    -webkit-transition: opacity ease 1s;
         -o-transition: opacity ease 1s;
            transition: opacity ease 1s;

    opacity: 0;
}*/

/* Styles used for the counter. */
.counter-container .counter-minus, .counter-plus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* background: #333; */
    /* color: white; */
    font-size: 6pt;
    margin: 0 20px;
    display: inline-block;
    padding: 10px 10px;
    /*text-decoration: none;*/
}

.counter-container .counter-field {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 40px;
    font-size: 40px;
}

.counter-plus {
    background: url(assets/right_caret.svg) no-repeat;
    margin-left: 21px;
}

.counter-minus {
    background: url(assets/left_caret.svg) no-repeat;
}

a[disabled] {
    pointer-events: none;
}

.alert.ng-enter, .alert.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.alert.ng-enter.ng-enter-active, 
.alert.ng-leave {
  opacity: 1;
}
 
.alert.ng-leave.ng-leave-active,
.alert.ng-enter {
  opacity: 0;
}

/* ANIMATION STYLINGS
============================================================================= */
#signup-form { 
    position:relative; 
    min-height:42pc; 
    overflow:hidden;
    background:linear-gradient( 0deg, #F083C2,#FD9E97 75%, #FFBFA8 );
/*    background-image: url("/assets/city_skyline.png");
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: center bottom;*/
    /*z-index: -1;*/
    /*padding:30px;*/
    /*padding-bottom: 30px;*/
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave { 
    position:absolute; 
    left:30px; 
    right:30px;
/*    transition:2s all ease; 
    -moz-transition:2s all ease; 
    -webkit-transition:2s all ease; */
}
    
/* enter animation */
/*#form-views.ng-enter { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}*/

/* leave animation */
/*#form-views.ng-leave { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}*/

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to   { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to   { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to   { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from { transform:translateX(200%); }
    to   { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from { -moz-transform:translateX(200%); }
    to   { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from { -webkit-transform:translateX(200%); }
    to   { -webkit-transform: translateX(0); }
}

.cookie-image {
    background-color: #424242;
    border-radius: 20px;
    height: 170px;
    padding: 35px;
    width: 230px;
    margin: 0 auto;
}

.cookie-row {
    padding: 20px;
}

.skyline {
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    height: auto;
    /* position: absolute; */
    /* overflow: hidden; */
    /* bottom: -75px; */
    /* left: 10%; */
    /* right: -21%; */
    display: block;
    margin: auto;
    margin-bottom: -80px;
    margin-top: 30px;
}

.bottom-section {
    background-color: #424242;
    min-height: 300px;
    padding-top:65px;
    position:relative;
}

.bottom-section h1 {
    color: #FFAAF3;
    font-weight:300;
    font-size:45px;
}

.bottom-section button {
    text-transform: uppercase;
    background-color: white;
    font-size: 28px;
    padding: 2px 10px;
    border-radius: 10px;
    margin-top:10px;
}

.bottom-section .footer {
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

.btn:focus, .btn:active, .btn:active:focus {
    outline: none;
}

.price-header {
/*    margin-top: 40px;
    margin-bottom: 30px;*/
    padding: 30px 20px;
    text-transform: uppercase;
}

.price-header h2 {
    color: #222222;
}
.price-header span {
    color: #ffffff;
    font-size: 40px;
}

.full-form {
}

.sky {
    position: relative;
}