<div class="row"> -->
<div>

  <div id="form-container">
  
      <div class="page-header text-center">
          <h2>Pirate Booty</h2>
          <h4>Secret Cookie Service</h4>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center row">
            <div class="col-xs-2 col-xs-offset-3">
              <a ui-sref-active="active" ui-sref=".order"><span></span> Order</a>
            </div>
            <div class="col-xs-2">
              <a ui-sref-active="active" ng-disabled="restrictSection(2)" ui-sref=".info"><span></span> Information</a>
            </div>
            <div class="col-xs-2">
              <a ui-sref-active="active" ng-disabled="restrictSection(3)" ui-sref=".payment"><span></span> Payment</a>
            </div>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" name="appForm" ng-submit="processForm()">

        <div class="alert alert-dismissible {{alert.type}}" ng-repeat="alert in alerts" type="alert.type">
          <button type="button" class="close" ng-click="alert.close()" data-dismiss="alert">x</button>
          {{alert.msg}}
        </div>

          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
      <div class="bottom-section text-center">
      <h1>{{priceTotal | currency}}</h1>
<!-- <div class="form-group row">       -->
<button class="btn" ng-click="nextSection()">
      N e x t
      </button>
<!-- <div class="col-xs-2 col-xs-offset-5">
    <a ng-click="nextSection(2)" class="btn btn-block">
    Next
    </a>
</div> -->
<!-- </div> -->
</div>
  
  </div>

</div>
<!-- </div>