
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="formData.email">
</div>

<div class="form-group">
    <label for="email">Pick up Location</label>
    <select type="text" class="form-control" name="pickup" ng-model="formData.pickup">
        <option>Sixth College</option>
        <option>Thurgood Marshall College</option>
    </select>
</div>

<div class="form-group">
    <label for="email">Notes</label>
    <textarea type="text" class="form-control" name="notes" ng-model="formData.notes"></textarea> 
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

                