<!-- <div class="alert alert-dismissible {{alert.type}}" ng-repeat="alert in alerts" type="alert.type">
  <button type="button" class="close" ng-click="alert.close()" data-dismiss="alert">x</button>
  {{alert.msg}}
</div>
 -->
<div class="text-center price-header">
  <h2>All cookies are <span>$2</span> each</h2>
</div>
<div class="row cookie-row">
	<div class="col-sm-3 text-center" ng-repeat="item in cookies">
    <div class="cookie-image">
		  <img src="/assets/cookie_pic.png" height="100" />
    </div>
		<h4>{{item | underscoreless}}</h4>
		<!-- <input type="number" ng-model="formData[item]" min="0"></input> -->
    <div counter value="formData[item]" min="0"></div>
	</div>
</div>

<br/>

<!-- <div class=""> -->
  <img src="/assets/city_skyline.png" class="skyline">
<!-- </div> -->