<div class="text-center">
<!--     <span class="glyphicon glyphicon-heart"></span>
    <h3>Thanks For Your Money!</h3> -->
    <h2>Order Information</h4>
    <h4 ng-repeat="(index, value) in formData">{{index | underscoreless}}: {{value}}</h4>
<!--     <p>Macadamia Nut: {{formData.macadamia_nut}}</p>
    <p>White Chocolate: {{formData.white_chocolate}}</p>
    <p>Chocolate Chip: {{formData.chocolate_chip}}</p>
    <p>Oatmeal Raisin: {{formData.oatmeal_raisin}}</p> -->

<!-- 	<h4>Customer Information</h4>
	<p>  -->
</div>