<div class="text-center price-header">
	<h2>The Ransom</h2>
	<h4>Look Bub, these cookies ain't free, you see?</h4>
</div>

<div class="text-center">
	<div class="item-list">
    <h2 ng-repeat="(index, value) in reviewData" ng-hide="value == 0"><span>{{value}}</span> {{index | underscoreless | uppercase}}</h2>
    </div>

    <div class="container contact-info">
    	<h2> WE'LL CONTACT <span>{{formData.Name | uppercase}}</span> at <span>{{formData.Pickup | uppercase}}</span></h2>
    	<h2>HAVE <span>{{priceTotal | currency}} CASH</span> or <span>VENMO</span></h2>
    </div>
</div>